{% extends "base.html" %}
{% block title %}PyToPy CODE{% endblock %}

{% block content %}
<nav>
    <div class="nav nav-pills nav-dark bg-dark " id="nav-tab" role="tablist">
        <button class="nav-link active text-white" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Analisis</button>
        <button class="nav-link text-white" id="nav-mirilla-tab" data-bs-toggle="tab" data-bs-target="#nav-mirilla"
            type="button" role="tab" aria-controls="nav-mirilla" aria-selected="false">Optimizacion Mirilla</button>
            <button class="nav-link text-white" id="nav-bloques-tab" data-bs-toggle="tab" data-bs-target="#nav-bloques"
            type="button" role="tab" aria-controls="nav-bloques" aria-selected="false">Optimizacion Bloques</button>
        <button class="nav-link text-white" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Tabla Simbolos</button>
        <button class="nav-link text-white" id="nav-errores-tab" data-bs-toggle="tab" data-bs-target="#nav-errores"
            type="button" role="tab" aria-controls="nav-errores" aria-selected="false">Errores</button>
        <button class="nav-link text-white" id="nav-arbol-tab" data-bs-toggle="tab" data-bs-target="#nav-arbol"
            type="button" role="tab" aria-controls="nav-arbol" aria-selected="false">Arbol</button>
        <button class="nav-link text-white" id="nav-dot-tab" data-bs-toggle="tab" data-bs-target="#nav-dot"
            type="button" role="tab" aria-controls="nav-dot" aria-selected="false">Dot</button>
        <button class="nav-link text-white" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Informacion</button>
    </div>
</nav>


{% endblock %}